<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cestc.mapper.EventMapper">

    <select id="pagePlus2" resultType="cn.cestc.domain.model.Event">
        SELECT * FROM event
        <if test="key != null and key != ''">
            WHERE name LIKE CONCAT('%', #{key}, '%')
        </if>
        LIMIT #{limit} OFFSET #{offset}

    </select>

    <select id="pagePlus" resultType="cn.cestc.domain.model.Event">
        SELECT * FROM event
        <if test="key != null and key != ''">
            WHERE name LIKE CONCAT('%', #{key}, '%')
        </if>
        LIMIT #{limit}
    </select>

    <select id="pagefavor" resultType="cn.cestc.domain.model.Event">
        SELECT * FROM event
        <if test="favorite != null and favorite != ''">
            WHERE favorite = #{favorite}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="pagefavo" resultType="cn.cestc.domain.model.Event">
        SELECT * FROM event
        <if test="favorite != null and favorite != ''">
            WHERE favorite = #{favorite}
        </if>
        LIMIT #{limit}
    </select>
</mapper>